body {
    background-image: url('imageCuisine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
}

a:hover {
    color: #3BC824;
    text-decoration: #3BC824 ;
}

.logoGutty > img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 43.5%;
    top: 20px;
    border-radius: 50%;
}

form {
    background-color: #F28500;
    text-align: center;
    padding-top: 20px;
    margin-top: 220px;
    border-radius: 25px;
}

.form-error {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    text-align: center;
}

form button {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    margin-bottom: 10px;
    border: 0;
}

.creerCompte button{
    width: 450px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: #3BC824;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 20px;
}

.btns {
    display:flex;
    flex-direction: column;
    width: 340px;
    margin-left: 17px;/*positionnement des input*/
}

.btns input::placeholder {
    font-style: italic;
}

.btns input{
    margin: 15px;
    border-width: 0px;
}

input[type="text"] {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
}

input[type="password"] {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
}

a{
    color: black;
    display: flex;
    text-align: center;
    margin-left: 35%;
}

