body {
    background-image: url('imageCuisine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;

}


.logoGutty > img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 43.5%;
    top: 20px;
    border-radius: 50%;
}

form {
    background-color: #F28500;
    text-align: center;
    padding-top: 20px;
    margin-top: 220px;
    border-radius: 25px;
}

.form-error {
    width: 120%;
    margin-left: 15px;
    color: red;
    font-size: 18px;
    text-align: start;
}

form button {
    align-items: center;
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 15px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #303030;
    margin-bottom: 10px;
}

.connexion button {

    width: 450px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: #3BC824;
    border: rgba(48, 48, 48, 0.5) solid 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #303030;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;

}

.btns {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: 20px; /*positionnement des input*/
}

.btns input::placeholder {
    font-style: italic;
}

.btns input {
    margin: 15px;
    border-width: 0px;
}

input[type="text"] {
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
    border-radius: 10px;
}

input[type="password"] {
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
    border-radius: 10px;
}







