*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #ffe4a1;
    height: 30vh;
    display:block;
    width: 100%;
    position: fix;
}

.partieHaute{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.logoEtTitre{
    margin: 10px;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.logoEtTitre h1{
    font-size: 50px;
    color: black;
    margin: 0;
    padding-top: 31px;
    float: right;
}

.logoEtTitre img{
    margin:5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.rechercheGenerale{
    background: #35a922;
    height: 50px;
    width: 50%;
    border-radius: 40px;
    padding: 10px;
    margin-top: 45px;
    margin-right: 8%;
    float: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.rechercheGenerale input{
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 40px;
    background: #35a922;
    padding-left: 20px;
    font-size: 20px;
}

.rechercheGenerale button{
    width: 50px;
    height: 100%;
    border: none;
    background: #35a922;
    border-radius: 50%;
    float: right;
    margin-top: -50px;
    margin-right: 10px;
    cursor: pointer;
}

.bouton_recherche_generale{
    margin-top: -5px;
    background: #35a922;
    width: 60px;
    height:140%;
    border: none;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.bouton_recherche_generale i{
    color: black;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 15px;
}

.rechercheGenerale input::placeholder{
    color: black;
    font-size: 20px;
}

.monCompte {
    margin:40px 7% 0 0;
    background: #FFB400;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.monCompte i{
    color: black;
    margin: 5px 0 0 5px;
    font-size: 50px;
    padding: 5px;
}

.partieBasse{
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns:33% 33% 34%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.rechercheIngredientBandeau, .ajouterRecette, .recettesFavorites{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rechercheIngredientBandeau, .ajouterRecette{
    border-right: 1px solid black;
}

header button{
    background: #ffe4a1;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

header button:hover{
    background: #FFB400;
    text-decoration: underline;
    transition: all 0.3s;
}

@media screen and (max-width: 1230px) {
    .logoEtTitre h1 {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .logoEtTitre img{
        margin-top: 10px ;
        margin-left: 10px ;
        width: 90px;
        height: 90px;
    }

    .bouton_recherche_generale{
        margin-top: -5px;
        background: #35a922;
        width: 40px;
        height:140%;
        border: none;
        border-radius: 50%;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .rechercheGenerale input{
        width: 60%;
        height: 100%;
        border: none;
        border-radius: 40px;
        background: #35a922;
        padding-left: 20px;
        font-size: 20px;
    }

}

@media screen and (max-width: 500px) {

    .partieHaute{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .partieBasse{
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns:100%;
        border-top: 1px solid black;
        border-bottom: none;
    }

    header button{
        background: #ffe4a1;
        border-bottom: 1px solid black;
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

    .rechercheIngredientBandeau, .ajouterRecette{
        border-right: none;
    }

    .logoEtTitre img{
        margin-top: 20px ;
        margin-left: 10px ;
        width: 75px;
        height: 75px;
        margin-right: 5px;
    }

    .rechercheGenerale{
        margin-left: 10px;
    }

    .bouton_recherche_generale{
        margin-top: -5px;
        background: #35a922;
        width: 20px;
        height:140%;
        border: none;
        border-radius: 50%;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .bouton_recherche_generale i{
        color: black;
        font-size: 30px;
        margin-top: 5px;
        margin-left: 7px;
    }

    .rechercheGenerale input{
        width: 70%;
        height: 100%;
        border: none;
        border-radius: 40px;
        background: #35a922;
        padding-left: 0px;
        font-size: 16px;
    }

    .rechercheGenerale input::placeholder{
        color: black;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px){

    .logoEtTitre img
    {
        margin-top: 10px ;
        margin-left: 5px ;
        width: 70px;
        height: 70px;
        margin-right: 5px;
    }

    .rechercheGenerale{
        width: 50%;
        height: 40px;
        margin-left: 10px;
        float: none;
        box-shadow: none;
    }

    .bouton_recherche_generale{
        margin-top: -5px;
        background: #35a922;
        width: 10px;
        height:140%;
        border: none;
        border-radius: 50%;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .bouton_recherche_generale i{
        color: black;
        font-size: 20px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .rechercheGenerale input{
        width: 80%;
        height: 100%;
        border: none;
        border-radius: 40px;
        background: #35a922;
        padding-left: 10px;
        font-size: 16px;
    }

    .rechercheGenerale input::placeholder{
        color: black;
        font-size: 15px;
    }

    .monCompte {
        margin:40px 6% 0 0;
        background: #FFB400;
        border-radius: 50%;
        width: 60px;
        height: 50px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }

    .monCompte i{
        color: black;
        margin: 5px 0 0 5px;
        font-size: 30px;
    }

}

@media screen and (max-height: 650px) {
    header{
        position: fixed front;
        height: 195px;

    }

}