*{
    padding: 0;
    margin: 0;
}


.bandeauCompte{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid black;
}




.bandeauCompte button{
    background: #ffe4a1;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 300%;
}
*{
    padding: 0;
    margin: 0;
}

.recette{
    margin-left: 80px;
}

.listeRecette{
    justify-content: center;
    margin-top: 5px;
}

.vignette{
    width: 330px;
    height: 170px;
    margin: 35px 35px 35px 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 5px 0 #888888;
}

.vignette img{
    justify-content: center;
    width: 205px;
    height: 135px;
    border-radius: 20px;
    margin: 5px 15px 0 8px;
}

.vignette h3{
    margin: 0 0 0 5px;
    font-size: 20px;
}

main a{
    text-decoration: none;
    color: black;
}

main a:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

main a:hover h3{
    text-decoration: underline;
    color: black;
}

@media screen and (min-width: 990px) and (max-width: 1200px) {

    .listeRecette{
        padding-left: 20%;
        display: inline-block;
        align-self: center;
    }
}

@media screen and (min-width: 650px) and (max-width: 729px) {
    .listeRecette{
        padding:0 0 0 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 650px) {
    .recette{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
}

@media screen and (max-width: 300px) {
    .listeRecette{
        padding:0 0 0 25%;
        margin-right: 25%;
        margin-top: 10px;
    }
}
