*{
    padding: 0;
    margin: 0;
}


.container{
    display: grid;
}


.profilUser{

    width: 120px;
    height: 120px;
    margin-left: 75%;
    margin-top: -15%;

}


#photo-profil {
    margin-top: -80%;
    margin-left: -30%;
    background-color: #4CAF50; /* couleur de fond du bouton */
    color: white; /* couleur du texte du bouton */
    padding: 10px 20px; /* taille du padding */
    border: none; /* pas de bordure */
    cursor: pointer; /* curseur de souris sur le bouton */
    border-radius: 5px; /* bordure arrondie */

}
.bouton-photo {
    border-radius: 5%;
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


.bouton-photo:hover {
    background-color: #3e8e41; /* couleur de fond du bouton lorsqu'il est survolé */
}

input[type="file"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#aperçu-photo {
    text-align: center;
    max-width: 120px;
    border-radius: 50%;
}



.inputModif{
    margin-top:30%;
    margin-left: -30%;
    padding-bottom: 10%;
}

input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;

}

input::placeholder{
    font-size: 150%;
    color: black;
    text-align: center;
}

.boutonRecettes button{
    font-size: 150%;
    border: none;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 3%;
    margin-left: 17%;
    width: 20%;
    background-color: lightgreen;
}
.boutonRecettes button:hover{
    background: green;
}

.boutonModif button{
    font-size: 150%;
    border: none;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 3%;
    margin-left: 17%;
    width: 20%;
    background-color: green;
}

.boutonSupprimer button{

    font-size: 150%;
    border: none;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 3%;
    margin-left: 17%;
    width: 20%;
    background-color: lightcoral;
}
.boutonSupprimer button:hover{
    background: red;
}



.boutonDeconnexion button{
    font-weight: normal;
    font-family: "Comic Sans MS";
    font-size: 220%;
    border: none;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 8%;
    margin-left: 40%;
    width: 20%;
    background-color: firebrick;
    color: white;
}

/*
button:hover{
    background: #FFB400;
}

*/