*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: block;
    width: 100vw;
    height: 30vh;
    background-color: #ffe4a1;
}

.partieHaute{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

.logoEtTitre{
    grid-column: 1;
    align-self: center;
}

.logoEtTitre img{
    width: 110px;
    height: 110px;
    float: left;
    border-radius: 50%;
    padding-left: 5px;
}



.logoEtTitre h1{
    padding-top: 23px;
    padding-left: 10px;
    font-size: 50px;
    color: black;
    float: left;
}
/**
.recherche{
    grid-column: 2;
    background: #35a922;
    height: 50px;
    width: 60%;
    border-radius: 40px;
    padding: 10px;
    align-self: center;
}

.recherche input{
    width: 80%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
}

input::placeholder{
    color: black;
    font-size: 20px;
}

.bouton_recherche {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}
**/

form {
    color: #555;
    display: flex;
    padding: 2px;
    border-radius: 5px;
}

/*Debut Angel*/
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

/**
Fin Angel
**/

i.material-icons{
    font-size: 50px;
    float: right;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
}

.monCompte {
    grid-column: 3;
    background: #FFB400;
    padding: 10px;
    align-self: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.iconeCompte{
    width: 100%;
    height: 100%;
    padding-right: 5px;
    margin-top: -5px;
}

.partieBasse{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    width: 100%;
    height: 40%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.rechercheIngredient{
    grid-column: 1;
    height: 100%;
    width: 100%;
    border-right: solid 1px black;
}

.ajouterRecette{
    grid-column: 2;
    height: 100%;
    width: 100%;
    border-right: solid 1px black;
}

.recettesFavorites{
    grid-column: 3;
    height: 100%;
    width: 100%;
}

button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

