*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main .nomRecette{
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.ajouterFav {
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: -10px;
}

.ajouterFav button {
    box-shadow: 0 5px 5px 0 #888888;
    border-radius: 20px;
    background-color: #D9D9D9;
    padding-right: 10px;
    padding-left: 10px;
}

main .star-rating {
    font-size: 1.5em;
    color: #FFD600;
    text-align: center;
    margin-bottom: -20px;
}
/**
.checked {
    color: #FFD600;
}

.selected {
    color: #FFD600;
}
**/

main .note{
    display: inline-block;
    font-size: 20px;
    margin-left: 60%;
    margin-top: -10px;


}

main img{
    width: 475px;
    height: 250px;
    border-radius: 20px;
}

main .affichageImage{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

main h4 {
    padding-top: 30px;
    text-align: center;
}

main .vignettePreparation .partieRecette{
    width: 100%;
    height: 100%;
    text-align: left;
}


main .IngredientRecette{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    width: 40%;
}

main .vignette{
    display: inline-block ;
    width: 330px;
    height: 170px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 5px 0 #888888;
}

main .btns {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-left: 17px;/*positionnement des input*/
}

main .btns input::placeholder {
    font-style: italic;
}

main .btns input{
    margin: 15px;
    border-width: 0px;
}

.ajouterComm button {
    margin-left: 80%;
    width: 200px;
    height: 48px;
    font-weight: 700;
    font-size: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    margin-bottom: 10px;
    border: 0;
}

main .TitreIngredient{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
}
main .TitrePreparation{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
}
main #TitreCommentaires{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
}

main .vignettePreparation{
    display: inline-block;
    width: 98.5%;
    height: 370px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 5px 0 #888888;
    align-items: left;
}

main textarea {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    font-size: 16px;
    background-color:#D9D9D9 ;
    text-align: left;
    border: none;
    margin-bottom: 15px;
    margin-left: 10px;
}

main input[type="submit"] {
    border: none;
    background: none;
}

main input::placeholder{
    color: grey;
    font-size: 20px;
}

main .partieCommentaires{
    display: inline-block;
    width: 98.5%;
    height: 170px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 5px 0 #888888;
    padding-top: 30px;
    text-align: left;
}

main .partieCommentaires input:focus{
    outline: none;
}

main h3 {
    padding-left: 30px;
    text-align: left    ;
}

main .etapeRecette{
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    padding-top: 30px;
}

main .commentaires {
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    padding-top: 30px;
}

main .commentaires commentaire{
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    padding-top: 30px;
}

main .nomUtilisateur{
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    padding-top: 30px;
    color: #FFB400;
}

main .commentaireTexte{
    margin-left: 10px;
    font-size: 18px;
    color: dimgrey;
    text-decoration: italic;
}